*
!.gitignore
!README.md
!revapp/
!revapp/data/
!revapp/data/*.*
!revapp/data-raw/
!revapp/data-raw/*.*
!revapp/inst/
!revapp/inst/*.*
!revapp/man/
!revapp/man/*.Rd
!revapp/R/
!revapp/R/*.R
!revapp/tests/
!revapp/tests/*.*
!revapp/tests/testthat/
!revapp/tests/testthat/*.R
!revapp/.Rbuildignore
!revapp/DESCRIPTION
!revapp/NAMESPACE
!revapp/revapp.Rproj
.Rproj.user
